/* /* .sidebar {
    border-style: double;
    border-color:lavender;
    border-radius: 5px;
} */

.main {
    padding: 0;
}

/* .footer {
    border-style: double;
    border-color:lavender;
    border-radius: 5px;
} */ 