.sidebar {
    border-style: double;
    border-color:lavender;
    border-radius: 5px;
}

.main {
    border-style: double;
    border-color:lavender;
    border-radius: 5px;
}

.footer {
    border-style: double;
    border-color:lavender;
    border-radius: 5px;
}