H1 {
  	color: #ffcc00;
  	font-size: 200%;
  	font-family: Arial, Verdana, sans-serif;
  	text-align: center;
}

P {
  	padding-left: 20px;
}

H2 {
  	color: #ffcc00;
  	font-size: 150%;
  	font-family: Arial, Verdana, sans-serif;
  	text-align: center;
}

img {
	align: center;
}

a {
	text-align: center;
	color: #9acd32;
}

body {
	background-image: url(backgrnd.jpg);
}
