.facility-add {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white;
}

.h2 {
    color: midnightblue;
}

.input {
    margin-bottom: 5px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    border-color: darkblue;
}

.date-picker {
    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color:rgb(89, 137, 196);
    margin-bottom: 5px;
}

.dd {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 20px;
}

.button-dd {
    border-radius: 20px;
    width: 100%;
    border-color: darkblue;
}