.input-fa {
    border-radius: 15px;
    width: 100%;
    padding-left: 20px;
}

.h2-fa {
    color: darkblue;
}

.select-fa {
    width: 100%;
    height: 5.25%;
    border-radius: 15px;
    padding-left: 20px;
}